* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-primary);
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
  caret-color: transparent;
}

input, textarea {
  user-select: text;
  caret-color: auto;
}

.app-layout {
  display: flex;
}

.app-content {
  width: 100%;
  margin-top: 56px;
  padding: 20px;
  transition: margin-left 0.3s ease;
  color: var(--text-primary);
  background-color: var(--bg-primary);
  min-height: calc(100vh - 56px);
}

.shift-content {
  margin-left: 275px;
}

@media (max-width: 768px) {
  .shift-content {
    margin-left: 0 !important;
  }
}
